body{
    background-color: #5cdb95;

}
.heading{
    font-size: 50px;
    text-align: center;
}
.buttons{
    height: 400px;
    background-color: #05386b;
}
.form{
    background-color: #05386b;
    color: white;
}


#login{
    margin: 50px;
}
/*https://gradientbuttons.colorion.co/*/

.btn-grad {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97  51%, #DD5E89  100%)}
.btn-grad {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    /*display: block;*/
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


#signup{
    margin: 50px;
}

.btn-grad2 {background-image: linear-gradient(to right, #1A2980 0%, #26D0CE  51%, #1A2980  100%)}
.btn-grad2 {
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    /*display: block;*/
}

.btn-grad2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



#login-btn{
    margin: 20px;
}